body{
  padding:10px;
}

.sent-message{
  text-align: right;
  border-right:4px solid #0E6EB8;
  padding-right:10px;
  background: #f4f5f6;
  border-right: 0.3rem solid #9b4dca;
  overflow-y: hidden;
  margin-bottom:2.5rem;
  margin-top: 1em;
  font-family: monospace, monospace;
  font-size: 1em;
}
